@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: Rubik;
}
body {
  /* background: #fff; */
  /* background: linear-gradient(153.06deg, #c0eaed -0.31%, #afccf5 99.69%); */
  background: linear-gradient(153.06deg, #b58ecc -0.31%, #5de6de 99.69%);
}
html,
body,
#root,
.App {
  height: 100%;
}

.home-page {
  height: 100%;
  display: grid;
  place-items: center;
}
.home {
  margin-bottom: 100px;
}
.heading-img {
  display: flex;
  align-items: center;
  width: 100%;
}
.welcome-heading {
  font-family: Roboto;
  font-weight: 500;
  font-size: 60px;
  color: #0f4679;
}
.weather-img {
  width: 60px;
  margin-left: 20px;
}
input {
  width: 80%;
  height: 32px;
  background: #ffffff;
  border-radius: 10px;
  display: block;
  margin: 20px auto 0;
  padding: 5px 14px;
  border: none;
  outline: none;
  font-size: 13px;
  box-shadow: 0px 0px 0px 1px #e0e0e0;
  transition: ease-in-out box-shadow 0.2s;
}

input:hover,
input:focus {
  box-shadow: 0px 0px 0px 4px rgb(174, 201, 216);
}
.btn-container {
  width: auto;
  margin: 20px auto;
  display: flex;
  justify-content: center;
}
.btn {
  border: none;
  background: #72ade6;
  padding: 10px;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}
.btn:hover {
  background: #62a7e8;
}

/* response page  */
.response-page-container {
  display: grid;
  width: 100%;
  height: 100%;
  place-items: center;
}
.response-page {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.home-arrow {
  width: 30px;
  position: absolute;
  top: 5%;
  left: 6%;
}
.city-name {
  color: #fff;
}
.country {
  color: #fff;
}
.temp-container {
  width: 240px;
  height: 240px;
  background: #ffffff;
  box-shadow: 0px 28px 36px rgba(56, 127, 143, 0.4);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
  flex-direction: column;
}
.temp {
  font-size: 40px;
  font-weight: 600;
  color: #000;
}
.main {
  color: #fff;
  margin-bottom: 30px;
}
.extra-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #fff;
}

/* loading state  */
.loading {
  height: 100%;
  display: grid;
  place-items: center;
}
.circle-container {
  display: grid;
  grid-template-columns: 30px 30px 30px;
}
.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  opacity: 0.3;
  transition: opacity ease 0.3s;
  animation-name: animate;
  animation-duration: 1s;
  animation-iteration-count: 10;
  animation-direction: alternate;
}

.circle-2 {
  animation-delay: 0.4s;
}
.circle-3 {
  animation-delay: 0.8s;
}

@keyframes animate {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}

/* responsiveness  */
@media (max-width: 500px) and (min-width: 270px) {
  .heading-img {
    display: flex;
    align-items: center;
    width: 100%;
  }
  .welcome-heading {
    font-weight: 800;
    font-size: 37px;
  }
  .weather-img {
    width: 40px;
    margin-left: 20px;
  }
  input {
    width: 80%;
    height: 28px;
  }

  .home-arrow {
    width: 25px;
    position: absolute;
    top: 5%;
    left: 6%;
  }
  .city-name {
    font-size: 33px;
  }
  .country {
    color: #fff;
  }
  .temp-container {
    width: 220px;
    height: 220px;
    background: #ffffff;
    box-shadow: 0px 28px 36px rgba(56, 127, 143, 0.4);
    border-radius: 50%;
    margin: 30px 0;
  }
  .temp {
    font-size: 33px;
    font-weight: 600;
    color: #000;
  }
  .extra-info {
    font-size: 14px;
  }
}

@media (max-width: 310px) and (min-width: 270px) {
  .welcome-heading {
    font-weight: 800;
    font-size: 30px;
  }
  .weather-img {
    width: 35px;
    margin-left: 20px;
  }
}
